function Memory.init 0
  // let
  push constant 0
  pop static 0
  // let
  push constant 2048
  pop static 1
  // let
  push static 1
  pop static 2
  // let
  push static 2
  push constant 0
  add
  push constant 1
  neg
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // let
  push static 2
  push constant 1
  add
  push constant 14336
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // return
  push constant 0
  return
function Memory.peek 0
  // return
  push static 0
  push argument 0
  add
  pop pointer 1
  push that 0
  return
function Memory.poke 0
  // let
  push static 0
  push argument 0
  add
  push argument 1
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // return
  push constant 0
  return
function Memory.alloc 2
  // let
  push static 2
  pop local 0
  // while
label WHILE0L1
  push argument 0
  push constant 2
  add
  push local 0
  push constant 1
  add
  pop pointer 1
  push that 0
  gt
  not
  if-goto WHILE0L2
  // let
  push local 0
  push constant 0
  add
  pop pointer 1
  push that 0
  pop local 0
  goto WHILE0L1
label WHILE0L2
  // let
  push local 0
  push local 0
  push constant 1
  add
  pop pointer 1
  push that 0
  add
  push argument 0
  push constant 2
  add
  sub
  pop local 1
  // let
  push local 1
  push constant 1
  add
  push argument 0
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // let
  push local 0
  push constant 1
  add
  push local 0
  push constant 1
  add
  pop pointer 1
  push that 0
  push argument 0
  push constant 2
  add
  sub
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // return
  push local 1
  push constant 2
  add
  return
function Memory.deAlloc 1
  // let
  push static 2
  pop local 0
  // while
label WHILE1L1
  push local 0
  push constant 0
  add
  pop pointer 1
  push that 0
  push constant 1
  neg
  eq
  not
  not
  if-goto WHILE1L2
  // let
  push local 0
  push constant 0
  add
  pop pointer 1
  push that 0
  pop local 0
  goto WHILE1L1
label WHILE1L2
  // let
  push local 0
  push constant 0
  add
  push argument 0
  push constant 2
  sub
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // let
  push argument 0
  push constant 2
  neg
  add
  push constant 1
  neg
  pop temp 0
  pop pointer 1
  push temp 0
  pop that 0
  // return
  push constant 0
  return
