function PieceBuilder.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function PieceBuilder.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PieceBuilder._setSquare 0
push argument 0
pop pointer 0
push argument 2
push constant 2
call Math.multiply 2
push argument 1
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push constant 2
call Math.multiply 2
push constant 1
add
push argument 1
add
push argument 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function PieceBuilder.getRandomPiece 2
push argument 0
pop pointer 0
push constant 5
pop local 0
push local 0
push constant 2
call Math.multiply 2
call Array.new 1
pop local 1
push pointer 0
push local 1
call PieceBuilder._setSquares12 2
pop temp 0
push argument 1
push local 0
push local 1
call Piece.new 3
return
function PieceBuilder._setSquares1 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 0
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 0
push constant 4
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares2 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 0
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares3 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares4 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares5 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares6 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares7 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares8 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares9 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares10 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 2
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares11 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares12 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
