function PieceBuilder.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call Random.new 0
pop this 0
push constant 5
pop this 1
push pointer 0
return
function PieceBuilder.dispose 0
push argument 0
pop pointer 0
push this 0
call Random.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PieceBuilder._setSquare 0
push argument 0
pop pointer 0
push argument 2
push constant 2
call Math.multiply 2
push argument 1
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push constant 2
call Math.multiply 2
push constant 1
add
push argument 1
add
push argument 4
push constant 6
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function PieceBuilder.getRandomPiece 2
push argument 0
pop pointer 0
push this 1
push constant 2
call Math.multiply 2
call Array.new 1
pop local 0
push this 0
push constant 12
call Random.getRandomUpTo 2
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
call PieceBuilder._setSquares1 2
pop temp 0
label IF_FALSE0
push local 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
call PieceBuilder._setSquares2 2
pop temp 0
label IF_FALSE1
push local 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 0
call PieceBuilder._setSquares3 2
pop temp 0
label IF_FALSE2
push local 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 0
call PieceBuilder._setSquares4 2
pop temp 0
label IF_FALSE3
push local 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push local 0
call PieceBuilder._setSquares5 2
pop temp 0
label IF_FALSE4
push local 1
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push local 0
call PieceBuilder._setSquares6 2
pop temp 0
label IF_FALSE5
push local 1
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push local 0
call PieceBuilder._setSquares7 2
pop temp 0
label IF_FALSE6
push local 1
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push local 0
call PieceBuilder._setSquares8 2
pop temp 0
label IF_FALSE7
push local 1
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push local 0
call PieceBuilder._setSquares9 2
pop temp 0
label IF_FALSE8
push local 1
push constant 9
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push local 0
call PieceBuilder._setSquares10 2
pop temp 0
label IF_FALSE9
push local 1
push constant 10
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push local 0
call PieceBuilder._setSquares11 2
pop temp 0
label IF_FALSE10
push local 1
push constant 11
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
push local 0
call PieceBuilder._setSquares12 2
pop temp 0
label IF_FALSE11
push argument 1
push this 1
push local 0
call Piece.new 3
return
function PieceBuilder._setSquares1 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 0
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 0
push constant 4
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares2 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 0
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares3 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares4 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares5 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares6 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares7 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 2
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares8 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 0
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares9 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares10 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 2
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares11 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 0
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 1
push constant 3
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
function PieceBuilder._setSquares12 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 0
push constant 0
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 1
push constant 1
push constant 0
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 2
push constant 1
push constant 1
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 3
push constant 1
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push pointer 0
push argument 1
push constant 4
push constant 2
push constant 2
call PieceBuilder._setSquare 5
pop temp 0
push constant 0
return
