function Piece._setSquare 0
push argument 0
pop pointer 0
push argument 1
push constant 2
call Math.multiply 2
push this 1
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push constant 2
call Math.multiply 2
push constant 1
add
push this 1
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Piece.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop argument 0
push constant 5
pop static 0
push static 0
push constant 2
call Math.multiply 2
call Array.new 1
pop this 1
push static 0
push constant 2
call Math.multiply 2
call Array.new 1
pop this 2
push pointer 0
push constant 0
push constant 0
push constant 0
call Piece._setSquare 4
pop temp 0
push pointer 0
push constant 1
push constant 1
push constant 0
call Piece._setSquare 4
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 1
call Piece._setSquare 4
pop temp 0
push pointer 0
push constant 3
push constant 1
push constant 1
call Piece._setSquare 4
pop temp 0
push pointer 0
push constant 4
push constant 1
push constant 2
call Piece._setSquare 4
pop temp 0
push pointer 0
push constant 0
not
call Piece.draw 2
pop temp 0
push pointer 0
return
function Piece.dispose 0
push argument 0
pop pointer 0
push this 1
call Array.dispose 1
pop temp 0
push this 2
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Piece.draw 3
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 1
push this 0
call QuintrisGame.getSize 1
call Math.multiply 2
push constant 1
add
push local 2
push this 0
call QuintrisGame.getSize 1
call Math.multiply 2
push constant 1
add
push local 1
push constant 1
add
push this 0
call QuintrisGame.getSize 1
call Math.multiply 2
push constant 1
sub
push local 2
push constant 1
add
push this 0
call QuintrisGame.getSize 1
call Math.multiply 2
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Piece._tryToMove 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push this 2
add
push local 0
push constant 2
call Math.multiply 2
push this 1
add
pop pointer 1
push that 0
push argument 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
push this 2
add
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
push this 1
add
pop pointer 1
push that 0
push argument 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 2
return
function Piece.tryToDrop 0
push argument 0
pop pointer 0
push pointer 0
push constant 1
push constant 0
call Piece._tryToMove 3
return
function Piece.tryToMoveUp 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
neg
call Piece._tryToMove 3
return
function Piece.tryToMoveDown 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
call Piece._tryToMove 3
return
function Piece.acceptMove 1
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Piece.draw 2
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push this 1
add
push local 0
push constant 2
call Math.multiply 2
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
push this 1
add
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
push this 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push constant 0
not
call Piece.draw 2
pop temp 0
push constant 0
return
function Piece.getNumSquares 0
push argument 0
pop pointer 0
push static 0
return
function Piece.getCurrentSquares 0
push argument 0
pop pointer 0
push this 1
return
