function QuintrisGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 16
pop static 0
push constant 512
pop static 1
push constant 256
pop static 2
push static 1
push static 0
call Math.divide 2
pop static 3
push static 2
push static 0
call Math.divide 2
pop static 4
push pointer 0
call Piece.new 1
pop this 0
push pointer 0
call Grid.new 1
pop this 1
push pointer 0
return
function QuintrisGame.run 3
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
label WHILE_EXP1
push this 1
push this 0
call Piece.tryToDrop 1
push this 0
call Piece.getNumSquares 1
call Grid.canMove 3
not
if-goto WHILE_END1
push this 0
call Piece.acceptMove 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
push this 1
push this 0
call Piece.tryToMoveUp 1
push this 0
call Piece.getNumSquares 1
call Grid.canMove 3
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Piece.acceptMove 1
pop temp 0
label IF_FALSE0
push local 0
push constant 133
eq
push this 1
push this 0
call Piece.tryToMoveDown 1
push this 0
call Piece.getNumSquares 1
call Grid.canMove 3
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Piece.acceptMove 1
pop temp 0
label IF_FALSE1
goto WHILE_EXP1
label WHILE_END1
push this 0
call Piece.getCurrentSquares 1
pop local 1
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push this 0
call Piece.getNumSquares 1
lt
not
if-goto WHILE_END2
push this 1
push local 2
push constant 2
call Math.multiply 2
push local 1
add
pop pointer 1
push that 0
push local 2
push constant 2
call Math.multiply 2
push constant 1
add
push local 1
add
pop pointer 1
push that 0
call Grid.setGridSquare 3
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push this 0
call Piece.dispose 1
pop temp 0
push this 1
call Grid.draw 1
pop temp 0
push pointer 0
call Piece.new 1
pop this 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function QuintrisGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Piece.dispose 1
pop temp 0
push this 1
call Grid.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function QuintrisGame.getSize 0
push argument 0
pop pointer 0
push static 0
return
function QuintrisGame.getScreenHeight 0
push argument 0
pop pointer 0
push static 4
return
function QuintrisGame.getScreenWidth 0
push argument 0
pop pointer 0
push static 3
return
