function Bat.new 0
  push constant 5
  call Memory.alloc 1
  pop pointer 0
  // let
  push argument 0
  pop this 0
  // let
  push argument 1
  pop this 1
  // let
  push argument 2
  pop this 2
  // let
  push argument 3
  pop this 3
  // let
  push constant 2
  pop this 4
  // do
  push pointer 0
  call Bat.show 1
  pop temp 0
  // return
  push pointer 0
  return
function Bat.dispose 0
  push argument 0
  pop pointer 0
  // do
  push pointer 0
  call Memory.deAlloc 1
  pop temp 0
  // return
  push constant 0
  return
function Bat.show 0
  push argument 0
  pop pointer 0
  // do
  push constant 1
  neg
  call Screen.setColor 1
  pop temp 0
  // do
  push pointer 0
  call Bat.draw 1
  pop temp 0
  // return
  push constant 0
  return
function Bat.hide 0
  push argument 0
  pop pointer 0
  // do
  push constant 0
  call Screen.setColor 1
  pop temp 0
  // do
  push pointer 0
  call Bat.draw 1
  pop temp 0
  // return
  push constant 0
  return
function Bat.draw 0
  push argument 0
  pop pointer 0
  // do
  push this 0
  push this 1
  push this 0
  push this 2
  add
  push this 1
  push this 3
  add
  call Screen.drawRectangle 4
  pop temp 0
  // return
  push constant 0
  return
function Bat.setDirection 0
  push argument 0
  pop pointer 0
  // let
  push argument 1
  pop this 4
  // return
  push constant 0
  return
function Bat.getLeft 0
  push argument 0
  pop pointer 0
  // return
  push this 0
  return
function Bat.getRight 0
  push argument 0
  pop pointer 0
  // return
  push this 0
  push this 2
  add
  return
function Bat.setWidth 0
  push argument 0
  pop pointer 0
  // do
  push pointer 0
  call Bat.hide 1
  pop temp 0
  // let
  push argument 1
  pop this 2
  // do
  push pointer 0
  call Bat.show 1
  pop temp 0
  // return
  push constant 0
  return
function Bat.move 0
  push argument 0
  pop pointer 0
  // if
  push this 4
  push constant 1
  eq
  not
  if-goto IF0L1
  // let
  push this 0
  push constant 4
  sub
  pop this 0
  // if
  push this 0
  push constant 0
  lt
  not
  if-goto IF1L1
  // let
  push constant 0
  pop this 0
  goto IF1L2
label IF1L1
label IF1L2
  // do
  push constant 0
  call Screen.setColor 1
  pop temp 0
  // do
  push this 0
  push this 2
  add
  push constant 1
  add
  push this 1
  push this 0
  push this 2
  add
  push constant 4
  add
  push this 1
  push this 3
  add
  call Screen.drawRectangle 4
  pop temp 0
  // do
  push constant 1
  neg
  call Screen.setColor 1
  pop temp 0
  // do
  push this 0
  push this 1
  push this 0
  push constant 3
  add
  push this 1
  push this 3
  add
  call Screen.drawRectangle 4
  pop temp 0
  goto IF0L2
label IF0L1
  // let
  push this 0
  push constant 4
  add
  pop this 0
  // if
  push this 0
  push this 2
  add
  push constant 511
  gt
  not
  if-goto IF2L1
  // let
  push constant 511
  push this 2
  neg
  pop this 0
  goto IF2L2
label IF2L1
label IF2L2
  // do
  push constant 0
  call Screen.setColor 1
  pop temp 0
  // do
  push this 0
  push constant 4
  sub
  push this 1
  push this 0
  push constant 1
  sub
  push this 1
  push this 3
  add
  call Screen.drawRectangle 4
  pop temp 0
  // do
  push constant 1
  neg
  call Screen.setColor 1
  pop temp 0
  // do
  push this 0
  push this 2
  add
  push constant 3
  sub
  push this 1
  push this 0
  push this 2
  add
  push this 1
  push this 3
  add
  call Screen.drawRectangle 4
  pop temp 0
label IF0L2
  // return
  push constant 0
  return
